@import "../../styles/constants.scss";

body {
  background: #000;
  background: $backgroundGradient;
}

.pageFrame {
  min-height: 100vh;
  width: 100vw;
  padding-top: $headerHeight;
  text-align: center;
  font-family: $fontFamily;
  color: white;
}
