@import "../../styles/constants.scss";

body {
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: $base * 8 0;
  }

  .content {
    max-width: $maxContentWidth;
    text-align: center;
  }

  .headline {
    margin-bottom: $base * 3;
  }
}
