$backgroundColor: #1c1636;
$backgroundGradient: linear-gradient($backgroundColor, #000);

$grey: #857f9b;

$fontFamily: franklin-gothic-condensed, sans-serif;

$fontsizeSmaller: 12px;
$fontsizeSmall: 16px;
$fontsizeBase: 22px;
$fontsizeBig: 26px;

$fontsizeBase--mobile: 18px;
$fontsizeBig--mobile: 22px;

$base: 8px;

$maxContentWidth: 1200px;
$headerHeight: $base * 8;
$footerHeight: $base * 8;

$transition: 0.3s ease;

$animationTime: 4s;
