@import "../../styles/constants.scss";

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - $headerHeight * 2 - $footerHeight);
}

.logo {
  margin-top: -$headerHeight * 2;
}
