@import "../../styles/constants.scss";

$iframeTopMargin: $base * 2;

.iframe {
  margin-top: $iframeTopMargin;
  border: none;
  background-color: #000;
  color: #fff;
  width: 90%;
  max-width: $maxContentWidth;
  height: calc(100vh - $headerHeight * 2 - $iframeTopMargin - $base * 2);
}
