@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  background: #000;
}

.content {
  width: 100%;
  max-width: $maxContentWidth;
}

.menu,
.menuMobile {
  display: flex;
  list-style: none;
}

.menu {
  @include mediaSm {
    display: none;
  }
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  padding: 0 $base * 2;
  color: white;
  text-decoration: none;
}

.logoWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: $base * 4;
  width: $headerHeight * 2;
  height: $headerHeight * 2;
  bottom: -$headerHeight;
  background: black;
  border-radius: 50%;
}

.logo {
  width: 95%;
  height: 95%;
}

// Mobile Menu
.icon {
  width: $headerHeight / 2;
  height: $headerHeight / 2;
}

.mobileMenuOpen {
  position: fixed;
  display: none;
  top: $headerHeight / 4;
  left: $headerHeight / 4;

  @include mediaSm {
    display: block;
  }
}

.menuCheckbox {
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: fixed;
}

.menuMobile {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 1000;
  transform: translateX(-110%);

  transition: transform $transition;

  .menuCheckbox:checked ~ & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(0);
  }
}

.mobileMenuClose {
  position: absolute;
  top: $headerHeight / 4;
  right: $headerHeight / 4;
}
