@import "../../styles/constants.scss";

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: $base * 5;
  background: #000;
  border-top: 2px solid $backgroundColor;
}

.item {
  padding: 0 $base * 2;
  color: $grey;
  text-decoration: none;

  transition: color $transition;

  &:hover,
  &:focus {
    color: #fff;
  }
}
