@import "../../styles/constants.scss";

body {
  .footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $footerHeight;
    background: #000;
    border-top: 2px solid $backgroundColor;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $maxContentWidth;
  }

  .item {
    padding: 0 $base;
    color: $grey;
    text-decoration: none;

    transition: color $transition;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
