@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

body {
  .faqWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faq {
    max-width: $maxContentWidth;

    @include mediaSm {
      padding: $base * 3 $base * 2;
    }
  }
}
